{% extends "base.html" %}
{% block content %}
<div class="card narrow">
  <h1>{{ t('reset.title') }}</h1>
  <div class="banner warn">{{ t('reset.warning') }}</div>
  <ul>
    <li>{{ t('reset.item.admin') }}</li>
    <li>{{ t('reset.item.config') }}</li>
    <li>{{ t('reset.item.tracking') }}</li>
    <li>{{ t('reset.item.logs') }}</li>
  </ul>
  <form action="/reset" method="post" class="row">
    <button type="submit" class="danger">{{ t('reset.confirm') }}</button>
    <a href="/" class="button" type="button">{{ t('common.cancel') }}</a>
  </form>
</div>
{% endblock %}
